/* Banner.css */

.banner {
  width: 100%;
  background-color: #F3F7EC;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 0; /* Adicione padding vertical */
  position: relative; /* Define a posição relativa para o banner */
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px; /* Define a largura máxima do conteúdo do banner */
  margin: 0 auto; /* Centraliza o conteúdo do banner */
  padding: 50px 20px; /* Adicione padding horizontal */
}

.banner-text {
  flex: 1; /* Ocupa todo o espaço disponível */
  text-align: justify; /* Alinha o texto */
}

.banner-image {
  position: absolute; /* Define a posição absoluta para a imagem */
  right: 40px; /* Ajusta a posição da imagem à direita */
  right: 20px;
  top: 0;
  transform: translateY(-20%);
}

.banner-image img {
  width: 100%; /* Ajusta a largura da imagem */
  max-width: 500px; /* Define a nova largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.stacks {
  margin-top: 10rem; /* Espaço superior entre o texto principal e as stacks */
  padding: 20px;
  
}
.stacks-list {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0; 

}
.stack-item img {
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção original */
  margin-right: 10px; /* Espaçamento entre a imagem e o texto (opcional) */
}

.titulo {
 text-align: center;
}
.subtitulo {
  text-align: center;
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}