.navbar{
  padding: 20px;
  display: flex;
  }

.navbar-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.navbar-list {
  list-style: none;
  padding: 0;
  display: flex; 
  align-items: center;
  margin-left: auto;
  
    
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  color: #006989;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #003f4e;
}

.navbar-button {
  background-color: #006989;
  color: #F3F7EC;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.navbar-button:hover {
  background-color: #e6e0dd;
  color: #003f4e; 
}
