
.post-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    background-color: #F3F7EC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.post-image {
    width: 100%; /* Ajusta a largura da imagem para preencher a largura do card */
    height: 200px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Faz a imagem cobrir a área definida sem distorção */
}

.post-content {
    padding: 16px;
}

.post-title {
    font-size: 18px;
    align-items: center;
    margin-bottom: 8px;
}

.post-description {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}
